# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Dataset
data/*
!data/.gitkeep

# Environment variables
.env

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# IDE
.vscode/
.idea/